* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ul {
	margin: 0;
}

.navWrapper {
	position: relative;
	font-family: Hack, monospace;
}

nav {
	margin: 25px;
	background: #f9f9f9;
	padding: 16px;

	.menuItems {
		list-style: none;
		display: flex;
		justify-content: space-between;
		.leftSide {
			display: flex;
			justify-content: flex-start;
		}
		.rightSide {
			display: flex;
			justify-content: flex-end;
		}

		li {
			margin: 15px;

			a {
				text-decoration: none;
				color: #8f8f8f;
				font-size: 24px;
				font-weight: 400;
				transition: all 0.5s ease-in-out;
				position: relative;
				text-transform: uppercase;

				&::before {
					content: attr(data-item);
					transition: 0.5s;
					color: #fe9900;
					position: absolute;
					top: -4px;
					bottom: 0;
					left: 0;
					right: 0;
					width: 0;
					overflow: hidden;
				}

				&:hover {
					&::before {
						width: 100%;
						transition: all 0.5s ease-in-out;
					}
				}
			}
		}

		& .wrapper {
			width: 100%;
			margin: 15px;
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}

		& .controlPanel {
			display: flex;
			justify-content: space-between;
			width: 200px;
		}
	}
}
